<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class>
<div th:replace="fragments :: patnavigation"></div>
<p th:text="${errorMsg}" style="color:red;"></p>
<form method="post" style="margin-right:30px; margin-top:50px;">
    <p th:text="${#strings.capitalizeWords(session.username)}" th:unless="${session == null}" style="align:center">
    <p th:text="${session.sUserId}" ></p>
    <div class="form-group">
        <label>Appointment Date
            <input type="date"  th:field="${scheduleAppt.apptDate}"  class="form-control">
        </label>
        <p class="error" th:errors="${scheduleAppt.apptDate}"></p>
    </div>
    <div class="form-group">
        <label>Appointment Time
            <input type="time" th:field="${scheduleAppt.apptTime}"  class="form-control">
        </label>
        <p class="error" th:errors="${scheduleAppt.apptTime}"></p>
    </div>
    <div class="form-group">
        <input type="hidden"  th:value="${session.username}" name="pname" id="pname" />
<!--        <input id="userIdInput" th:value="${user.id}" hidden>-->
<!--        <input id="name" th:value="${session.username}" hidden>-->
        <input type="submit" value="Schedule" class="btn btn-success">
    </div>
</form>
</body>
</html>