<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: patnavigation"></div>
<div style="margin-right:30px; margin-top:50px;">

<table class="centeredTable">
    <thead>
        <tr>
            <th scope="col">ApptDate</th>
            <th scope="col">ApptTime</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
    <tr th:each="appt : ${appts}">
        <td th:text=${appt.apptDate}></td>
        <td th:text=${appt.apptTime}></td>
        <td><a th:href="@{'/patients/delete/' + ${appt.id}}">Delete</a></td>
    </tr>
</table>
</div>
</body>
</html>