<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
    <title th:text="'Hospital Management System' + ${title == null ? '' : ' :: ' + title}">Hospital Management System</title>
</head>
<body>
<div th:replace="fragments :: navigation"></div>

<div class="jumbotron">
<section class="ftco-section contact-section ftco-degree-bg">
    <div>

    <div class="container">
<!--        <div class="row d-flex mb-5 contact-info">-->
<!--            <div class="col-md-12 mb-4">-->

<!--                <h2 class="h4">Contact Information</h2>-->
<!--                </div>-->
<!--            </div>-->
            <div class="w-100"></div>
            <div class="col-md-3">
                <p><span>Address:</span> 1933 Mckelvey Hill Dr,</p>
                <p> Suite D, Maryland Heights, Missouri 63043</p>
            </div>
            <div class="col-md-3">
                <p><span>Phone:</span> <a href="tel://13147452087">+ 1314 745 2087</a></p>
            </div>
            <div class="col-md-3">
                <p><span>Email:</span> <a href="mailto:enquiry@sai.com">enquiry@sai.com</a></p>
            </div>
            <div class="col-md-3">
                <p><span>Website</span> <a href="#">www.sai.com</a></p>
            </div>
        </div>
    </div>

</section>
<!--<img src="/css/contact.jpg" alt=""style="position: fixed; left: 0; top: 200; min-width:100%; min-height:80%" />-->
</div>
</body>


</html>