<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<!--<body class="container">-->
<!--<body th:style="'background: url(/images/homePageImg.jpg) no-repeat center center fixed;'">-->
<body style="background-image:url(/css/hospital1.jpg)">
<!--<nav class="navbar navbar-dark bg-dark">-->
    <div th:replace="fragments :: navigation"></div>
<!--</nav>-->
<div class="jumbotron">
        <div class="container">
            <marquee direction="left">Welcome to Sai Hospital</marquee>
        </div>

</div>

</body>

</html>